{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>PainLessPvP | Contact Us</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="{% static 'forms/ContactUs/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{% static 'forms/ContactUs/css/style.css' %}">
	</head>

	<body>

		<div class="wrapper">
			<div class="inner">
				<form action="" method="post">
					{% csrf_token %}

    			{% for hidden in form.hidden_fields %}
      				{{ hidden }}
    			{% endfor %}

					<h3>Contact Us</h3>
					<p>If you are facing a problem and you want to contact us via email you've come to the right place!</p>
					{% for field in form.visible_fields %}
					<label class="form-group" for="{{ field.contact_name.id_for_label }}">
						{% render_field form.first_name class="form-control" placeholder=form.contact_name.label %}
					 <!--
						{{ field.label }}
						<input type="text" class="form-control"  required>
						<span>Your Name</span>
					{% render_field form.contact_name class="form-control" %}
					{% for error in field.errors %}
					{% endfor %}
					{% endfor %}
						<span class="border"></span> -->
					</label>
					
					<label class="form-group" for="{{ field.contact_email.id_for_label }}"> <!-- 
						<input type="text" class="form-control"  required>
						<span for="">Your Mail</span>
						<span class="border"></span> -->
						{% render_field form.contact_email class="form-control" placeholder=form.contact_email.label %}
					</label>
					<label class="form-group" for="{{ field.subject.id_for_label }}"> 
					{% render_field form.subject class="form-control" placeholder=form.subject.label %}
					<!--
						<textarea name="" id="" class="form-control" required></textarea>
						<span for="">Your Message</span>
						<span class="border"></span> -->
					</label>
					<label class="form-group" for="{{ field.msg.id_for_label }}">
						{% render_field form.msg class="form-control" placeholder=form.msg.label %}
					</label> 
					<button type="submit">Submit 
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
				</form>
			</div>
		</div>
		
	</body>
</html>