RewriteEngine On
RewriteBase /
RewriteRule ^(media/.*)$ - [L]
RewriteRule ^(admin_media/.*)$ - [L]
RewriteRule ^(dispatch\.wsgi/.*)$ - [L]
RewriteRule ^(.*)$ /index/dispatch.wsgi/$1 [QSA,PT,L]

<IfModule mod_headers.c>
    Header set Connection keep-alive
</IfModule>