{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>PainLessPvP | Internal Server Error</title>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'blog/500.css' %}">
  <script src="{% static 'blog/500.js' %}"></script>
</head>
    <body class="loading">
      <h1>500</h1>
        <h2>Unexpected Error <b>:(</b></h2>
        <div class="gears">
          <div class="gear one">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
          <div class="gear two">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
          <div class="gear three">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </div>
        <h2>We are already got notified and we will fix it as soon as possible. Thank you!</h2>
    </body>
</html>
             
{% endblock content %}