{% extends "blog/base.html" %}
{% block content %}
    <style>
        
    </style>
        <h1>How it all started...</h1>
    <h4>In 2017, I, the Founder of PainLessPvP, made a Youtube account uploading gaming content.</h4>
    <h4>In 2018, I created BestPvP, that's what it was called back then.</h4>
    <h4>In 2019, I decided to stop uploading and return back later to upload videos related on coding and renamed it to PainLessPvP.</h4>
    <h4>But I never got the chance to upload videos.</h4>
    <h4>In 2020 3 days after Christmas my minecraft account got hacked. 2 months after my account got hacked, my friend gave me his account because he quit mc.</h4>
    <h4>Before he gave me his account, I decided to make the official website of PainLessPvP which took me 1 month to make somewhat it decent.</h4><br>
    <h1>Our Goal</h1>
    <h4>Our goal is to make the world's lowest ping Minecraft server.</h4>
    <h4>Our servers will include FPS optimizations for the best performance for Low End PCs to prevent people from lagging in any way or form.</h4><br>
    <h4></h4>
{% endblock content %}
